h1{
    font-family: "Avengeance Heroic Avenger";
    margin-block-start: 0;
    margin-block-end: 0;   
}
.form-control{
    text-align-last: center;
}

/*first width*/
@media (min-width:320px){
    .main{
        margin-top: 80px;
    }
}    

@media (min-width:768px){
    .main{
        margin-top: 30px;
    }
}
@media (min-width:1024px){
    .main{
        margin-top: -40px;
    }
}
 
.main{
    margin-top:100px;
}
body{
    min-width: 50%;
    background-color: #e9e9ea !important;
}
.navbar-super{
    background-color: #3f51b57e !important;
}
.nav-color{
    background-color: #5464bc !important;
    min-height: auto;
    max-height: fit-content;
}

.pt-6 {
  padding-top: 8% !important;
}
.mt-5{
    margin-top: 7% !important;
}


.carousel-inner img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.img-gray:hover {
    filter: grayscale(80%);
}

.carousel-inner{
 height: 100%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}
.navbar-nav-c {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    padding-left: 0;
    list-style: none;
    flex-direction: column;
    align-items: center;
}

.main-forms {
    margin-top: 75px;
    padding: 30px;
  }
  
  .form-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .form-wrapper > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
  