h1{
    font-family: "Avengeance Heroic Avenger";
    margin-block-start: 0;
    margin-block-end: 0;   
}
.form-control{
    text-align-last: center;
}

/*first width*/
@media (min-width:320px){
    main > div > section {
    top: 110px;
    }
    header > nav{
        height: 100px!important;
    }
    main > div > section {
        padding-bottom: 90px;
    }
    main > div > section > div > h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .form-control{
        padding:0;
        width: 80px;
    }
    .comm-info{
        height: auto;
    }
    .img{
        width: 300px;
    }
    .ih-item.square {
        position: relative;
        width: 316px;
        height: auto;
        border: 8px solid #fff;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    }
}
@media (min-width:360px){
    main > div > section {
    top: 100px;
    }
    nav{
        height: 100px;
    }
}
@media (min-width:375px){
    main > div > section {
    top: 100px;
    }
}
@media (min-width:411px){
    main > div > section {
    top: 95px;
    }
}
@media (min-width:568px){
    main > div > section {
    top: 90px;
    }
    header > nav{
        height: 100px!important;
    }
    main > div > section {
        padding-bottom: 90px;
    }
    main > div > section > div > h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .form-control{
        padding:0;
        width: 80px;
    }
    .comm-info{
        height: auto;
    }
    .img{
        width: 300px;
    }
    .ih-item.square {
        position: relative;
        width: 316px;
        height: auto;
        border: 8px solid #fff;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    }
}
@media (min-width:640px){
    main > div > section {
    top: 80px;
    }
    nav{
        height: 100px;
    }
}
@media (min-width:667){
    main > div > section {
    top: 1000px;
    }
}
@media (min-width:731px){
    main > div > section {
    top: 75px;
    }
}
@media (min-width:768px){
    main > div > section {
    top: 25px;
    }
}
@media (min-width:812px){
    main > div > section {
    top: 65px;
    }
}
@media (min-width:823px){
    main > div > section {
    top: 70px;
    }
}

@media (min-width:1024px) and (min-height:1366px){
    main > div > section {
    top: -55px;
    }
}
@media (min-width:1080px) and (min-height:1920px){
    main > div > section {
    top: -25px;
    }
}
@media (min-width:1366px) and (min-height:1024px){
    main > div > section {
    top: -25px;
    }
}
body{
    min-width: 50%;
    background-color: #e9e9ea !important;
}
.navbar-super{
    background-color: #3f51b57e !important;
}
.nav-color{
    background-color: #5464bc !important;
    min-height: auto;
    max-height: fit-content;
}
.pt-6 {
  padding-top: 8% !important;
}
.mt-5{
    margin-top: 7% !important;
}


.carousel-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    /*object-position: center center;*/
}
.img-gray:hover {
    filter: grayscale(80%);
}

.carousel-inner{
 height: 100%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}
.navbar-nav-c {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    padding-left: 0;
    /*margin-bottom: 0;*/
    /*margin-top:0;*/
    list-style: none;
    flex-direction: column;
    align-items: center;
}

/* */
.main-forms {
    margin-top: 75px;
    padding: 30px;
  }
  
  .form-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .form-wrapper > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
  