@font-face {
    font-family: "myfont1";
    src: url("https://db.onlinewebfonts.com/t/0758a8993f076b2885436695361ea4e0.woff2") format('woff2');
}
@font-face {
    font-family: "myfont2";
    src: url("../fonts/0758a8993f076b2885436695361ea4e0.woff2") format('woff');
}
@font-face {font-family: "Avengeance Heroic Avenger"; src: url("https://db.onlinewebfonts.com/t/0758a8993f076b2885436695361ea4e0.eot"); src: url("https://db.onlinewebfonts.com/t/0758a8993f076b2885436695361ea4e0.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/0758a8993f076b2885436695361ea4e0.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/0758a8993f076b2885436695361ea4e0.woff") format("woff"), url("https://db.onlinewebfonts.com/t/0758a8993f076b2885436695361ea4e0.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/0758a8993f076b2885436695361ea4e0.svg#Avengeance Heroic Avenger") format("svg"); }
h1,h2,h3{
    font-family: "Avengeance Heroic Avenger";
    margin-block-start: 0;
    margin-block-end: 0;   
}
h3{
    color: rgb(196, 103, 154);
    text-shadow: 2px 2px rgb(7, 6, 12);
}
.text-shadow{
    text-shadow: 2px 2px rgb(7, 6, 12);
}
.form-control{
    text-align-last: center;
}

/*first width*/
@media (min-width:320px){
    .main{
        /* margin-top: 80px; */
    }
    .imagen-mar{

    }
    .carousel-inner img {
        height: 700px;
        /* object-fit: cover; */
        /* object-fit: scale-down; */
        object-fit: contain;
    }
}    

@media (min-width:768px){
    .main{
        margin-top: 30px;
    }
    .carousel-inner img {
        width: auto;
        height: 700px;
        /* object-fit: cover; */
        /* object-fit: scale-down; */
        object-fit: contain;
    }
}
@media (min-width:1024px){
    .main{
        margin-top: -40px;
    }
    .carousel-inner img {
        width: auto;
        height: 700px;
        /* object-fit: cover; */
        /* object-fit: scale-down; */
        object-fit: contain;
    }
}
 
.main{
    margin-top:100px;
}
body{
    min-width: 50%;
    background-color: #e9e9ea !important;
}
.navbar-super{
    background-color: #3f51b57e !important;
}
.nav-color{
    background-color: #5464bc !important;
    min-height: auto;
    max-height: fit-content;
}

.pt-6 {
  padding-top: 8% !important;
}
.mt-5{
    margin-top: 7% !important;
}


.carousel-inner img {
    height: auto;
    /* object-fit: cover; */
    /* object-fit: scale-down; */
    
}
.img-gray:hover {
    filter: grayscale(80%);
}

.carousel-inner{
 height: 100%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}
.navbar-nav-c {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    padding-left: 0;
    list-style: none;
    flex-direction: column;
    align-items: center;
}

.main-forms {
    margin-top: 75px;
    padding: 30px;
  }
  
  /* .form-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  } */
  
  .form-wrapper > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }

.main2{
      margin-top: 150px;
  }
  .main3{
    margin-top: 150px;
}
  .ih-item.square{
    max-width: 600px;
    height: auto;
    border: 8px solid #fff;
  }
  .search{
      margin-top: 15px;
      margin-bottom: 50px;
  }
  .HV-img{
      width: 300px;
      margin: 30px 0;
  }
  .VS-img{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
  }
  .escondido {
    visibility: hidden;
}

.width100{
    width: 100%!important;
    margin: 0!important;
}
.p-style {
    width: 300px;
}
/* .w-100{
    margin-top: 60px;
    width: 100%!important;
    height: 600px!important;

} */

/* .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */
.img-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url(../img/A1-header.jpg);
    background-size: cover;
}

/* .img-background{
    background-image: gradient  
    url(../img/A1-header.jpg);
    background-size: cover;
    z-index: -1;
} */